$color: #ff6600;
$textColor: #222;
$lightTextColor: #888;
$backgroundColorLighter: rgb(255, 252, 250);
$backgroundColorLighterDark: #fcf9f7;

$backgroundColorLight: rgb(255, 240, 230);


$topNavBarHeight: 45px;
