@import "variables";
@import "reboot";
@import "layout";

html {
  font-family: sans-serif;
  font-size: 14px;
}

pre {
  white-space: pre;
  overflow-y: auto;

  &.debug {
    white-space: pre-wrap;
  }
}


.stories {
  background: $backgroundColorLighter;

  .storywrapper {
    display: flex;
    max-width: 100%;
    border-bottom: .5px solid rgba(0, 0, 0, .07);

    &.active {
      box-shadow: 3px 0 0 $color inset;
    }

    a {
      display: flex;
      text-decoration: none;
    }
  }

  .story {
    //width: 100%;
    max-width: calc(100% - 50px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;

    div {
      color: $lightTextColor;
      font-size: .8rem;
    }

    h3 {
      margin: 0 0 5px;
      color: $textColor;
      font-size: 1rem;
      font-weight: normal;
    }

    .info {
      margin-bottom: 5px;
    }

    .link {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  .storycomments {
    width: 50px;
    padding: 12px 0;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background: $backgroundColorLighterDark;

    .numcomments {
      color: $color;
    }

    .points {
      background: rgba(0, 0, 0, .031);
      color: #888;
    }
  }

  .load-more {
    width: 100%;
    background: #ccc;
    display: flex;
    justify-content: center;
    cursor: pointer;

    div {
      padding: 1rem 0;
    }
  }
}

.comments {
  background: $backgroundColorLighter;

  .kids .kids {
    border-left: 14px solid rgba(0, 0, 0, .05);
    margin-left: 1px;
  }
}

.comment {
  border-top: .5px solid rgba(0, 0, 0, .09);

  .text {
    padding: 10px 15px;
  }

  &.fromauthor:not(.textpost) {
    box-shadow: 3px 0 0 $color inset;
  }

  &.textpost {
    background: #FFF1E7;
    border-bottom: 5px solid $color;
  }

  &.dead {
    color: #777
  }
}

.comment-header {
  display: flex;
  cursor: pointer;

  .author {
    color: $color;
  }

  .time {
    color: #888;
  }

  div {
    padding: 5px 15px;
  }
}

.reader {
  padding: 15px;
}

.reader-html {
  font-family: serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
  }

  * {
    max-width: 100%;
    height: auto;
  }

}
